<% include template/header.ejs %>

		<canvas id="cvs" height="500" width="602">抱歉，您的瀏覽器不支持canvas</canvas>
		<script>
			var socket = io.connect('http://localhost');
			var cvs=document.getElementById("cvs");
			var ctx=cvs.getContext("2d");
			Square(ctx);	//畫出方格 function在JS/method.js
			init(cvs);
			$(document).ready(function(){
				socket.on('draw',function(data){
					let XYlenght=10, //位置
						nowX=0,nowY=51; //陣列畫到的位置(nowY初始位置是第二排)
					var now = data.point;
					var next = data.nextPoint;
					document.getElementById("Qua").innerHTML="當前機器人數量"+now.length;
					for(lastLenght;lastLenght>=0;lastLenght--){
						ctx.clearRect(clearY[lastLenght], clearX[lastLenght], size, size);
					}
					for (var locationX = 0; locationX < XYlenght; locationX++) {	//走訪x
						for (var locationY = 0; locationY < XYlenght; locationY++) {	//走訪y
 							for (var data = 0; data < now.length; data++) {	//走訪現在位置的data
								if (locationX==now[data].x && locationY==now[data].y) {	//位置 vs data
									ctx.fillRect(nowY,nowX,size,size);
									clearY[data]=nowY;//儲存此次的
									clearX[data]=nowX;
									Arrow(ctx,nowX,nowY,now[data].x,now[data].y,next[data].x,next[data].y);
									ctx.fillStyle="white";
									ctx.fillText(now[data].id,nowY+32.5,nowX+35);	//顯示的文字和位置
									ctx.fillStyle="black";
								} else {
									ctx.strokeRect(nowY,nowX,size,size);
								}
							}
							nowX+=distance;
							nowX+=size;
						}
						nowY+=distance;
						nowY+=size;
						nowX=0;
					}
					lastLenght=now.length;
					for (var data = 0; data < now.length; data++) {
			   			if ((now[data].x==coordinateX)&&(now[data].y==coordinateY)) {
			   				msg="id:"+data;
			   				data=now.length;
			   			}
			   		}
				});
			});
		</script>
		<div class='select'>
			<!-- <h1>當前機器人數量</h1> -->
			<h1 nowrap id='Qua'></h1>
			<p id=ppp></p> <!-- 得到座標 -->
		</div>
<% include template/footer.ejs %>
