<!DOCTYPE html>
<html lang="zh-TW">
<script src="JS/jquery-3.3.1.min.js"></script>
<script>
	function getQueryVariable(variable)
	{
	    var query = window.location.search.substring(1);
	    var vars = query.split("&");
	    for (var i = 0;i < vars.length;i++) {
	            var pair = vars[i].split("=");
	            if(pair[0] == variable){return pair[1];}
        }
	    return(false);
	}
</script>
<head>
    <meta charset="UTF-8">
    <title>robot</title>
    <script src="/socket.io/socket.io.js"></script><!--webSocket-->
	<script>
		var socket = io.connect('http://localhost');//webSocket
		var id = parseInt(getQueryVariable("id"));
		if(!id)
			id = 0;
		var mapXLength = 14;
		var mapYLength = 10;
		var nowX = id % 2 == 0 ? 0 : mapXLength - 1;
        var nowY = id;
		var gotoX = 0;
		var gotoY = 0;
		var auto = false;
		var index = null;
		var previousX = null;
		var previousY = null;
		var route_point = new Array();//路徑
		var now_step = 0;//接收到路徑後已走步數
	</script>
</head>
<body>
	<h1 align="center">
		id = 
		<script>
			document.write(id);
		</script>
	</h1>
	<p align="center">
	    <label>nowX</label>
	    <input type="number" id="nowX">
	    <label>nowY</label>
	    <input type="number" id="nowY">
	    <br>
	    <label>gotoX</label>
	    <input type="number" id="gotoX">
	    <label>gotoY</label>
	    <input type="number" id="gotoY">
	    <br>
	    <button onclick="start()">開始</button>
	    <button onclick="autoStart()">自動模式</button>
		<button onclick="openRobot()">多開9個</button>
		<button onclick="allAutoStart()">全部開啟自動模式</button>
	</p>
	<div id="goto"></div>
	<div id="index"></div>
    <script>
    	function running(){
		    setInterval(function(){
		    	if(!stop_signal){
			    	previous_x = now_x;
			  		previous_y = now_y;
			  		if(route_point.x.length > 0 && route_point.y.length > 0){
			  			if(now_x == route_point.x[0] && now_y == route_point.y[0]){
			  				route_point.x.shift();
			  				route_point.y.shift();
			  			}
			  			if(route_point.x.length > 0 && route_point.y.length > 0){
			    			now_x = route_point.x.shift();
						  	now_y = route_point.y.shift();
					    }
				  	}
				  	setAddress();
			  	}
			  	if(now_x != goto_x || now_y != goto_y){
			  		socket.emit('walk',
				  		{
				  			id : id,
				  			index : index,
				  			isStop : false
				  		}
			  		);
			  	} else {
			  		if(auto){
			  			autoStart();
			  		}
			  	}
		    }, 1000);
    	}
    	
	    function setAddress(){
	        socket.emit('setAddress',
	        	{
	        		id : id,
	        	 	index : index,
	        		nowX : nowX,
	        	 	nowY : nowY,
	        	 	previousX : previousX,
	        	 	previousY : previousY
	        	}
	        );
	    };

	    function start(auto){
	    	if(!auto){
		    	nowX = parseInt($("#nowX").val());
		    	nowY = parseInt($("#nowY").val());
		    	gotoX = parseInt($("#gotoX").val());
		    	gotoY = parseInt($("#gotoY").val());
	    	}
		    socket.emit('start',
		    	{
		    		id : id,
		    		index : index,
		    		nowX : nowX,
		    		nowY : nowY,
		    		gotoX : gotoX,
		    		gotoY : gotoY
		    	}
		    );
        };

        function autoStart(){
        	auto = true;
        	socket.emit('signUp',
	        	{
	        		id : id,
		    		nowX : nowX,
		    		nowY : nowY,
	        	}
	        );
        };

        function openRobot(){
			var newwin1 = window.open();
 			newwin1.location = "http://localhost:80?id=1";
 			var newwin2 = window.open();
 			newwin2.location = "http://localhost:80?id=2";
 			var newwin3 = window.open();
 			newwin3.location = "http://localhost:80?id=3";
 			var newwin4 = window.open();
 			newwin4.location = "http://localhost:80?id=4";
 			var newwin5 = window.open();
 			newwin5.location = "http://localhost:80?id=5";
 			var newwin6 = window.open();
 			newwin6.location = "http://localhost:80?id=6";
 			var newwin7 = window.open();
 			newwin7.location = "http://localhost:80?id=7";
 			var newwin8 = window.open();
 			newwin8.location = "http://localhost:80?id=8";
 			var newwin9 = window.open();
 			newwin9.location = "http://localhost:80?id=9";
        }

        function allAutoStart(){
			socket.emit('allAutoStart');
        }

		socket.on('returnIndex', function (data) {
        	index = data.index;
        	$("#index").html("<b>index : " + index + "</b>");
        	if(auto){
        		if(nowX == 0){
	        		gotoX = mapXLength - 1;
	        		gotoY = Math.floor(Math.random() * 10);
	        	}
	        	else if(nowX == mapXLength - 1){
	        		gotoX = 0;
	        		gotoY = Math.floor(Math.random() * 10);
	        	}
	        	else{
	        		gotoX = 0;
	        		gotoY = 0;
	        		console.log("!!!!!!!!!!!! : " + nowX);
	        	}
	        	$("#goto").html("<b>gotoX : " + gotoX + " gotoY : " + gotoY + "</b>");
        	}
        	socket.emit('start',
	        	{
	        		id : id,
	        		index : index,
		    		nowX : nowX,
		    		nowY : nowY,
		    		gotoX : gotoX,
		    		gotoY : gotoY
	        	}
	        );
		});


		socket.on('stop', function (data) {
        	setTimeout(function(){
        		socket.emit('walk',
			  		{
			  			id : id,
			  			index : index,
			  			isStop : true
			  		}
		  		);
        	}, 1000);
		});

		socket.on('go', function (data) {
			var stop = false;
		  	previousX = nowX;
		  	previousY = nowY;
		  	switch(data.cmd){
		  		case "+x" : nowX++; break;
		  		case "-x" : nowX--; break;
		  		case "+y" : nowY++; break;
		  		case "-y" : nowY--; break;
		  		case "stop" : stop = true; break;
		  	}
		  	setTimeout(function(){
		  		setAddress();
			  	if(nowX != gotoX || nowY != gotoY){
			  		socket.emit('walk',
				  		{
				  			id : id,
				  			index : index,
				  			isStop : false
				  		}
			  		);
			  	} else {
			  		if(auto){
			  			if(nowX == 0){
			        		gotoX = mapXLength - 1;
			        		gotoY = Math.floor(Math.random() * 10);
			        	}
			        	else if(nowX == mapXLength - 1){
			        		gotoX = 0;
			        		gotoY = Math.floor(Math.random() * 10);
			        	}
			        	else{
			        		gotoX = 0;
			        		gotoY = 0;
			        		console.log("!!!!!!!!!!!! : " + nowX);
			        	}
			        	$("#goto").html("<b>gotoX : " + gotoX + " gotoY : " + gotoY + "</b>");
			  			start(auto);
			  		}
			  	}
		  	}, 1000);		  	
		});

		socket.on('autoStart', function (data) {
        	autoStart();   
		});
	</script>
</body>
</html>