<!DOCTYPE html>
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
	function sleep(d){
	  for(var t = Date.now(); Date.now() - t <= d;);
	}

	var go_x_size = 4, go_y_size = 4;

	function getQueryVariable(variable)
	{
	    var query = window.location.search.substring(1);
	    var vars = query.split("&");
	    for (var i=0;i<vars.length;i++) {
	            var pair = vars[i].split("=");
	            if(pair[0] == variable){return pair[1];}
        }
	    return(false);
	}
</script>
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
    </style>
    <script src="/socket.io/socket.io.js"></script><!--webSocket-->
	<script>
		var socket = io.connect('http://localhost');//webSocket
		var id = parseInt(getQueryVariable("id"));
		var now_x = 0;
        var now_y = Math.floor(Math.random() * 10);
		var goto_x = 0;
		var goto_y = 0;
		var auto = false;
		var index = null;
		var previous_x = null;
		var previous_y = null;
		var mapLength = 10;
		if(!id)
			id = 0;
	</script>
</head>
<body>
	<h1 align="center">
		id = 
		<script>
			document.write(id);
		</script>
	</h1>
	<p align="center">
	    <label>now_x</label>
	    <input type="number" id="now_x">
	    <label>now_y</label>
	    <input type="number" id="now_y">
	    <br>
	    <label>goto_x</label>
	    <input type="number" id="goto_x">
	    <label>goto_y</label>
	    <input type="number" id="goto_y">
	    <br>
	    <button onclick="initSet()">初始設定</button>
	    <button onclick="start()">開始</button>
	    <button onclick="autoStart()">自動模式</button>
	    <button onclick="testStart()">固定數據模式</button>
	</p>
	<div id="goto"></div>
	<div id="index"></div>
    <script>
	    function setAddress(){
	        socket.emit('setAddress',
	        	{
	        		id : id,
	        	 	index : index,
	        		now_x : now_x,
	        	 	now_y : now_y,
	        	 	previous_x : previous_x,
	        	 	previous_y : previous_y
	        	}
	        );
	    };

	    function initSet(){
	    	now_x = parseInt($("#now_x").val());
	    	now_y = parseInt($("#now_y").val());
	    	socket.emit('initSet',
		    	{
		    		id : id,
		    		now_x : now_x,
		    		now_y : now_y
		    	}
		    );
	    }

	    function start(){
	    	auto = false;
	    	goto_x = parseInt($("#goto_x").val());
	    	goto_y = parseInt($("#goto_y").val());
		    socket.emit('start',
		    	{
		    		id : id,
		    		index : index,
		    		goto_x : goto_x,
		    		goto_y : goto_y
		    	}
		    );
        };

        //產生測試數據用
        function randomNumber(){
        	for(let i = 0; i < 10; i++)
        		console.log(Math.floor(Math.random() * 10));
        }
        // randomNumber();

        function autoStart(){
        	auto = true;
        	if(now_x == 0){
        		goto_x = mapLength - 1;
        		goto_y = Math.floor(Math.random() * 10);
        	}
        	else if(now_x == mapLength - 1){
        		goto_x = 0;
        		goto_y = Math.floor(Math.random() * 10);
        	}
        	else{
        		goto_x = 0;
        		goto_y = 0;
        		console.log("!!!!!!!!!!!! : " + now_x);
        	}
        	socket.emit('start',
	        	{
	        		index : index,
		    		goto_x : goto_x,
		    		goto_y : goto_y
	        	}
	        );
	        $("#goto").html("<b>goto_x : " + goto_x + " goto_y : " + goto_y);
	        // sleep(1000);。
        };

        function testStart(){
        	var requestURL = 'testJson';
        	var request = new XMLHttpRequest();
        	request.open('GET', requestURL);
        	request.responseType = 'json';
			request.send();
			request.onload = function() {
				console.log(request.response);
			}
			for(let i = 0; i < 10; i++){
				socket.emit('start',
		        	{
		        		id : 0,
			    		now_x : 0,
			    		now_y : i,
			    		goto_x : 0,
			    		goto_y : i + 1
		        	}
		        );
			}
        }

	    socket.on('message', function (data) {
        	console.log(data);    
		});

		socket.on('return_index', function (data) {
        	index = data.index;   
        	$("#index").html("index is " + index);
		});

		socket.on('stop', function (data) {
        	sleep(1000);
        	socket.emit('walk',
		  		{
		  			id : id,
		  			index : index,
		  			isStop : true
		  		}
	  		);
		});

		socket.on('go', function (data) {
		  	previous_x = now_x;
		  	previous_y = now_y;
		  	now_x = data.x;
		  	now_y = data.y;
		  	sleep(1000);
		  	setAddress();
		  	if(now_x != goto_x || now_y != goto_y){
		  		socket.emit('walk',
			  		{
			  			id : id,
			  			index : index,
			  			isStop : false
			  		}
		  		);
		  	}
		  	else{
		  		if(auto){
		  			autoStart();
		  		}
		  	}
		});   
	</script>
</body>
</html>