<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LOGISTICS ROBOT</title>
		<link rel="stylesheet" href="CSS/layout.css">
		<link rel="stylesheet"  type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../CSS/slick.css">	<!-- //// -->
		<link rel="stylesheet" type="text/css" href="../CSS/slick-theme.css">	<!-- //// -->
		<script src="../JS/method.js"></script>
		<script src="JS/jquery-3.3.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../JS/slick.js" type="text/javascript" charset="utf-8"></script> <!-- //// -->
	</head>
	<body>
	   	<script type="text/javascript">
			$(function() {
			  $(window).scroll(function() {
			    if ($(this).scrollTop() > 495)  {          /* 要滑動到選單的距離 */
			       $('.menu').addClass('navFixed');   /* 幫選單加上固定效果 */
			    } else {
			      $('.menu').removeClass('navFixed'); /* 移除選單固定效果 */
			    }
			  });
			});
		</script>

		<style>
			.navFixed {
			  z-index: 10;          
			  position: fixed;
			  top: 0;
			  left: 0px;
			  margin-top: 0;
			  opacity: 0.70;
			  transition: opacity .5s ease-out;
			  background-color: #fff

			}
		</style> 
		<section class="regular slider" id="sli">
			<script>
				document.getElementById("sli").innerHTML=null;
				for(let i=0;i<10;i++){
					document.getElementById("sli").innerHTML+='<div id="'+i+'" class="status">id='+i+'<br/>休息中</div>';
				}
			</script>
	  	</section>
		<div>  
		  	<script type="text/javascript">
			    $(document).ready(function() {
			      $(".vertical-center-4").slick({
			        dots: true,
			        vertical: true,
			        centerMode: true,
			        slidesToShow: 4,
			        slidesToScroll: 2,
			        nextArrow : "<button class='slick-next'>1</button>"
			      });
			      $(".vertical-center-3").slick({
			        dots: true,
			        vertical: true,
			        centerMode: true,
			        slidesToShow: 3,
			        slidesToScroll: 3
			      });
			      $(".vertical-center-2").slick({
			        dots: true,
			        vertical: true,
			        centerMode: true,
			        slidesToShow: 2,
			        slidesToScroll: 2
			      });
			      $(".vertical-center").slick({
			        dots: true,
			        vertical: true,
			        centerMode: true,
			      });
			      $(".vertical").slick({
			        dots: true,
			        vertical: true,
			        slidesToShow: 3,
			        slidesToScroll: 3
			      });
			      $(".regular").slick({
			        dots: true,
			        infinite: true,
			        slidesToShow: 3,
			        slidesToScroll: 3
			      });
			      $(".center").slick({
			        dots: true,
			        infinite: true,
			        centerMode: true,
			        slidesToShow: 5,
			        slidesToScroll: 3
			      });
			      $(".variable").slick({
			        dots: true,
			        infinite: true,
			        variableWidth: true
			      });
			      $(".lazy").slick({
			        lazyLoad: 'ondemand', // ondemand progressive anticipated
			        infinite: true
			      });
			    });
			</script>
			<!-- <img src="../images/top2.0.png" alt="" width="1280" id="topImage"> -->
			<nav class="menu">
			   	<ul class="nav nav-tabs navbar navbar-light">
			      	<li><a href="../home"><img src="../images/home.svg" width="25"></a></li>
			        <li><a href="">設置動機</a></li>
			        <li><a href="../search">機器查詢</a></li>
			        <li><a href="../button">視覺化</a></li>
			    </ul>
		   	</nav>
		</div>	   

		<hr/>
		 
