<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LOGISTICS ROBOT</title>
		<link rel="stylesheet" href="CSS/layout.css">
		<link rel="stylesheet"  type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="../JS/method.js"></script>
		<script src="JS/jquery-3.3.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	   	<script type="text/javascript">
			$(function() {
			  $(window).scroll(function() {
			    if ($(this).scrollTop() > 495)  {          /* 要滑動到選單的距離 */
			       $('.menu').addClass('navFixed');   /* 幫選單加上固定效果 */
			    } else {
			      $('.menu').removeClass('navFixed'); /* 移除選單固定效果 */
			    }
			  });
			});
		</script>

		<style>
			.navFixed {
			  z-index: 10;          
			  position: fixed;      
			  top: 0;
			  left: 0px;
			  margin-top: 0;
			  /* min-width: 100%; */
			  opacity: 0.70;
			  transition: opacity .5s ease-out;
			  background-color: #fff

			}
		</style> 
		<div>  
			<img src="../images/top2.0.png" alt="" width="1280" id="topImage">
			<nav class="menu">
			   	<ul class="nav nav-tabs navbar navbar-light">
			      	<li><a href="../home"><img src="../images/home.svg" width="25"></a></li>
			        <li><a href="">設置動機</a></li>
			        <li><a href="../search">機器查詢</a></li>
			        <li><a href="../button">視覺化</a></li>
			    </ul>
		   	</nav>
		</div>	   

		<hr/>
		 
